@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap");

.contentMain {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.inputCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
  gap: 10px;
  width: 561px;
}

.containerTitleNewPassword {
  width: 100%;
  margin-bottom: 14px;
  display: flex;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  line-height: 3%;
  padding: 0;
  margin: 1em 0;
}

.formNewPassword {
  display: flex;
  max-width: 418px;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.containerLogoNewPassword {
  width: 100%;
  margin-bottom: 39.26px;
  display: flex;
}

.descriptionNewPassword {
  margin-bottom: 27.19px;
  width: 418px;
}

.inputNewPassword {
  width: 418px;
  height: 50.06px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  padding-left: 15px;
  font-weight: 500;
  font-style: normal;
}

.containerInputNewSenha {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 100%;
  margin-bottom: 37.67px;
  align-items: center;
}

.contentInputNewPassword {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerForgotPassword {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 229px;
  background: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid #d7d7d7;
}

.form_profile {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  width: 713px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: -5px;
}

.showTitleMobile {
  width: 100%;
}

.containerSignIn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48.38px;
  cursor: pointer;
}

.containerCadastro input[type="checkbox"] {
  cursor: pointer;
  /* Define o tamanho da caixa de seleção */
  width: 26px;
  height: 27px;
  /* Define a cor do fundo da caixa de seleção */
  background-color: #fff;
  /* Remove a borda padrão da caixa de seleção */
  border: none;
  /* Adiciona um raio para arredondar as bordas da caixa de seleção */
  border-radius: 15px;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #476ee6;
  /* Define a cor do check */
}

.containerCadastro input[type="checkbox"]:checked::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "✔";
  font-size: 20px;
  color: #fff;
}

.containerCadastro input[type="checkbox"]:checked {
  /* Define a cor de fundo da caixa de seleção quando selecionada */
  background-color: #476ee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fb;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: "normal";
  border: none;
}

.containerTitle {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  line-height: 3%;
  padding: 0;
  font-style: normal;
}

.item {
  text-align: center;
  width: 100%;
  color: #476ee6;
  font-size: 15px;
  padding: 6px 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  border-radius: 100px;
}

.esqueceuSenha {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #476ee6;
}

.itemModal {
  color: #476ee6;
  font-size: 15px;
  padding: 5px 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  border-radius: 100px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-header {
  width: 100%;
  padding: 2em;
}

.active {
  background: #476ee6;
  color: #fff;
}

.buttonSignIn {
  background: #476ee6;
  border: none;
  width: 160px;
  height: 48px;
  border-radius: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.titleListTerceiros {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.8em;
  border: 1px solid #d7d7d7;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6a6a6a;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  animation: slide-in 2s forwards;
  transition: all 2s;
}

.containerInputSearch {
  display: flex;
  position: relative;
}

.containerInputSearchMobileTop {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.containerInputSearchMobile {
  display: flex;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #ffffff;
  z-index: 101;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.3);
  animation-duration: 1s;
  animation-name: slide-in-out;
}

@keyframes slide-in-out {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.contentTitleListTerceiros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8.4em;
  margin-left: 7.5em;
}

.contentTitleListTerceiros span:nth-child(3) {
  margin-left: 100px;
}

.contentTitleListTerceiros span:nth-child(4) {
  margin-left: 53px;
}

.contentListagemTerceiros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 10px;
}

.containerLogo {
  width: 100%;
  margin-bottom: 36.26px;
  display: flex;
}

.contentListagemTerceiros span:nth-child(3) {
  display: flex;
  justify-content: flex-start !important;
  margin-left: 12px;
}

.contentListagemTerceiros span:nth-child(2) {
  display: flex;
  justify-content: flex-start !important;
  margin-left: 50px;
}

.listagemTerceiros {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.8em;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6a6a6a;
  border: 1px solid #d7d7d7;
}

.iconSearchContainer {
  position: absolute;
  left: 15px;
  top: 7px;
}

.iconSearchContainerResponsive {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.user {
  width: 225px;
  background: #ffffff;
  border-radius: 60px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d7d7;
}

.containerUser {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  padding: 15px;
}

.excluir-terceiro .editar-terceiro:hover {
  opacity: 0.5;
}

form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.noInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787486b6;
}

.inputSearch {
  background: white;
  height: 45px;
  width: 290px;
  border-radius: 60px;
  outline: none;
  padding-left: 50px;
  border: 1.9px solid #d7d7d7;
  transition: all 0.5s;
}

.inputSearchMobileTop {
  background: white;
  height: 45px;
  width: 250px;
  border-radius: 60px;
  outline: none;
  padding-left: 50px;
  border: 1.9px solid #d7d7d7;
  transition: all 0.5s;
}

.iconImgUserModal {
  position: absolute;
  background: #476ee6;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.containerResponsiveSignUp {
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (max-width: 1100px) {
  .showArteVisual,
  .containerInputSearch,
  .iconMenuUser,
  .headerContainer {
    display: none;
  }

  .modalEditOrDelete {
    width: 100% !important;
    top: 82% !important
  }

  .modalConfig {
    width: 100% !important;
    height: 100% !important;;
  }

  .modalEditTerceiro {
    width: 100% !important;
    height: 100% !important;;
  }

  .modalNewTerceiro {
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto;
  }

  .containerLogoNewPassword {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
  }

  .containerTitleNewPassword {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formNewPassword {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 17% 0;
    padding: 0;
  }

  .descriptionNewPassword {
    margin-bottom: 27.19px;
    padding: 0 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .inputNewPassword {
    width: 310px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    font-weight: 500;
    font-style: normal;
  }

  .containerInputNewSenha {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 100%;
    margin-bottom: 37.67px;
  }

  .containerForgotPassword {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
  }

  .descriptionEmailSent {
    width: 300px !important;
    text-align: center; 
  }

  .buttonForgotPassword {
    width: 240px !important;
    height: 40px !important;
  }

  .containerSignIn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
  }

  .containerButtonForgotPassword {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 13px;
  }

  .labelForgotPassword {
    width: 100% !important;
  }

  .description {
    margin-bottom: 34px;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .description p {
    width: 362px !important;
    word-break: break-all;
    padding-left: 1em;
    padding-right: 1em;
  }

  .inputForgotPassword {
    width: 310px !important;
    height: 50.06px;
  }

  .containerInputEmail {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin-bottom: 51px;
    align-items: center;
    width: 100%;
  }

  .containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonSignIn {
    width: 300px !important;
    height: 46px !important;
    margin-top: 2.5em !important;
  }

  .esqueceuSenha {
    width: 100% !important;
    display: flex;
    justify-content: flex-end !important;
  }

  .containerCadastro input[type="checkbox"] {
    width: 50px !important;
    height: 28px !important;
  }

  .inputLogin {
    width: 310px !important;
    height: 50.06px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    font-weight: 500;
    font-style: normal;
  }

  .formLogin {
    max-width: auto !important;
    margin-top: 5% !important;
  }

  .formForgotPassword {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .marginTopResponsive {
    height: 100%;
  }

  /* .containerResponsiveSignUp {
    margin-bottom: -30px !important;
  } */

  .inputCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    gap: 10px;
    width: 297px;
  }

  .containerResponsiveSignUp {
    width: 66% !important;
    display: flex !important;
    justify-content: center;
    margin-top: 30px !important;
  }

  .formCadastro {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem;
    margin-bottom: 35.4px;
  }

  .inputSearchResponsiveStyle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .formNewTerceiro {
    height: 200px !important;
    flex-wrap: nowrap !important;
    margin-bottom: 2rem !important;
  }

  .item {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: calc(10px + (220 - 10) * ((100vw - 320px) / (1100 - 320)));
    padding-right: calc(10px + (220 - 10) * ((100vw - 320px) / (1100 - 320)));
  }

  .inputSearch {
    display: none;
  }

  .titleShowProfile {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 12px;
  }

  .label-avatar {
    position: relative;
  }

  .iconImgUserModal {
    position: absolute;
    background: #476ee6;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
  }

  .content_Input {
    margin-top: -10em !important;
    height: 600px !important;
    width: 100% !important;
    padding: 15px;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .input {
    width: 100% !important;
    border-radius: 7px;
    height: 50px;
    border: 1px solid #d7d7d7;
    background: #fff;
    padding: 10px;
    color: #060606;
  }

  .titleMobile {
    font-style: "normal";
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.101193px;
    color: #476ee6 !important;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ffffff;
    position: fixed;
    height: 30%;
    overflow: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid #d7d7d7;
  }

  .containerBoxPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 1em;
    border-bottom: 1px solid #e4e4ef;
  }

  .sidebarMobile {
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    flex-direction: row;
    border-right: 1px solid #d7d7d7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contentMain {
    margin-left: 20px;
    margin-right: 20px;
  }

  .contentTitleListTerceiros {
    display: none;
  }

  .titleListTerceiros {
    display: none;
  }

  .containerMain {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .userName {
    display: none;
  }
  .user {
    width: 11px !important;
    background: #f7f9fb !important;
    border-radius: 60px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
  }

  .containerUser {
    width: 100%;
    justify-content: flex-end !important;
    flex-direction: row;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    padding: 15px;
  }

  .inputSearchMobile {
    background: white;
    height: 45px;
    width: 10px !important;
    border-radius: 12px !important;
    outline: none;
    padding-left: 50px;
    border: 1.9px solid #d7d7d7;
    transition: all 0.5s;
  }

  .inputSearchMobile {
    background: white;
    height: 45px;
    width: 10px !important;
    border-radius: 12px !important;
    outline: none;
    padding-left: 50px;
    border: 1.9px solid #d7d7d7;
    transition: all 0.5s;
  }

  .iconSearchContainer {
    margin-top: 2px;
    margin-left: -2px;
    display: flex;
    justify-content: flex-start;
  }

  .containerListagemTerceiros {
    margin-top: 40px;
  }

  .listagemTerceiros {
    display: block;
    padding: 10px 10px 25px 10px;
  }

  .contentListagemTerceiros {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .contentListagemTerceiros,
  .campoList,
  .campoListEmail {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
  }

  .contentListagemTerceiros span:nth-child(1) {
    display: flex;
    justify-content: space-between !important;
    margin-left: 0;
  }

  .contentListagemTerceiros span:nth-child(2) {
    display: flex;
    justify-content: space-between !important;
    margin-left: 0;
  }

  .contentListagemTerceiros span:nth-child(3) {
    display: flex;
    justify-content: space-between !important;
    margin-left: 0;
  }

  .containerUsernamePhoto {
    width: 100% !important;
    gap: 15px !important;
    margin-left: 0 !important;
  }

  .container span[data-label] {
    margin-right: 10px;
  }

  .nameUser,
  .campoListEmail,
  .campoList {
    color: #1a1a1a;
    font-weight: 600;
  }

  .campoList::before {
    content: attr(data-label) !important;
    float: left !important;
    margin-right: 2em;
    width: 6em;
    color: #808080;
  }

  .campoListEmail::before {
    content: attr(data-label) !important;
    float: left !important;
    width: 6em;
    margin-right: 2em;
    color: #808080;
  }

  body {
    background-color: #ffffff;
  }

  .buttonNewSupplierDesktop {
    display: none !important;
  }

  .campoListMoreVerticalDesktop {
    display: none !important;
  }

  .buttonNewSupplierMobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #476ee6;
    color: #fff;
    border-radius: 50%;
    bottom: 2.5em;
    right: 2.2em;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.301);
  }

  .showTitleDesktop,
  .showTitle {
    display: none;
  }

  .menuNav {
    padding: 0.2em !important;
    width: 100% !important;
    height: 45px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 100px;
  }

  .containerMenuNavMobile {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }

  .form_profile {
    width: 350px;
    height: 700px;
    border: none;
    margin-top: 3em !important;
    background-color: #ffffff;
  }

  .containerLogo {
    justify-content: center;  
    margin-top: 1em;
  }
}

@media screen and (min-width: 1099px) {
  .inputSearchResponsiveStyle,
  .iconSearchContainerResponsive,
  .inputSearchMobileTop,
  .titleShowProfile,
  .buttonNewSupplierMobile {
    display: none;
  }

  .containerMain {
    display: grid;
    grid-template-columns: 1fr 1fr; /* cria duas colunas com a mesma largura */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #fff;
    height: 100vh;
  }

  .sidebarMobile,
  .campoListMoreVerticalMobile {
    display: none !important;
  }
  .showTitleMobile {
    display: none !important;
  }
  .containerBoxPhoto {
    height: 100% !important;
    display: flex;
    align-items: center;
  }
  .containerBoxPhoto {
    width: 35%;
  }
}
.containerUsernamePhoto {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 2.5em;
}

.campoList {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.campoListMoreVertical {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.campoListEmail {
  word-break: break-all;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  margin-left: 12px;
}

.menuNav {
  padding: 1em;
  width: 233px;
  height: 45px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 100px;
}

.content_Input {
  height: 600px;
  padding: 15px;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  flex-wrap: wrap;
}

.containerStyleImgUserModal {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.input {
  width: 315px;
  border-radius: 7px;
  height: 50px;
  border: 1px solid #d7d7d7;
  background: #fff;
  padding: 10px;
  color: #060606;
}

.formNewTerceiro {
  height: 310px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  flex-wrap: wrap;
}

.imgStyle {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
  cursor: pointer;
}

.formCadastro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-bottom: 35.4px;
}

.containerTitleTermosPrivacidade {
  margin-bottom: 21.3px;
  width: 100%;
}

.formLogin {
  display: flex;
  max-width: 418px;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.inputLogin {
  width: 418px;
  height: 50.06px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  padding-left: 15px;
  font-weight: 500;
  font-style: normal;
}

.containerInputEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 51px;
  width: 100%;
}

.description {
  margin-bottom: 34px;
  width: 418px;
}

.formForgotPassword {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.labelForgotPassword {
  margin-bottom: 14px;
  color: #000000;
  font-weight: 400;
  line-height: 18.21px;
  letter-spacing: 0.202385px;
  font-size: 14px;
  font-style: normal;
}

.containerButtonForgotPassword {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.buttonForgotPassword {
  background: #476ee6;
  border: none;
  width: 160px;
  height: 48px;
  border-radius: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.inputForgotPassword {
  width: 418px;
  height: 50.06px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  padding-left: 15px;
  font-weight: 500;
  font-style: normal;
}

.contentInputForgotPassword {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerLogo {
  width: 100%;
  margin-bottom: 39.26px;
  display: flex;
}

.descriptionEmailSent {
  margin-bottom: 34px;
  width: 410px;
  text-align: center;
}

.formEmailSent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modalNewTerceiro {
  width: 605px;
  height: 566px;
}

.modalEditTerceiro {
  width: 605px;
  height: 566px;
}

.modalConfig {
  width: 340px;
  height: 600px;
  overflow-y: auto;
}

.modalEditOrDelete {
  width: 375px; 
  height: 275px;
}