@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap");

.containerCadastro input[type="checkbox"] {
  cursor: pointer;
  /* Define o tamanho da caixa de seleção */
  width: 26px;
  height: 27px;
  /* Define a cor do fundo da caixa de seleção */
  background-color: #fff;
  /* Remove a borda padrão da caixa de seleção */
  border: none;
  /* Adiciona um raio para arredondar as bordas da caixa de seleção */
  border-radius: 15px;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #476ee6;
  /* Define a cor do check */
}

.containerCadastro input[type="checkbox"]:checked::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "✔";
  font-size: 20px;
  color: #fff;
}

.containerCadastro input[type="checkbox"]:checked {
  /* Define a cor de fundo da caixa de seleção quando selecionada */
  background-color: #476ee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F7F9FB;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: 'normal',
}

.item {
  color: #476ee6;
  font-size: 15px;
  padding: 5px 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  border-radius: 100px;
}

.active {
  background: #476ee6;
  color: #fff;
}

.titleListTerceiros {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0.8em;
  border: 1px solid #D7D7D7;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6a6a6a;
}

.contentTitleListTerceiros {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentListagemTerceiros  {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listagemTerceiros {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0.8em;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 7px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6a6a6a;
  border: 1px solid #D7D7D7;
}

.content {
  margin-left: 280px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.excluir-terceiro
.editar-terceiro:hover {
  opacity: .5;
}
